<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

body {
	background: #3E4649;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}
.jumbotron {
	background: #3498DB;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #3498DB;
	background-color: white;
	border-color: white;
}





/*
blue: #3498DB;
*/