body {
	background: #E8ECF0;
	font-family: sans-serif;
	margin: 0;
}

header {
	background: #BAC2CD;
	margin: 0;
	padding: 15px 15px 0px 15px;
}

header h1 {
	margin: 0;
	color: #172D4D;
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: #DEE2E6;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	margin: 0;
}

nav ul li a {
	color: #8490A3;
	text-decoration: none;
}

#display {
	background-color: #F5F5F5;
  	font-family: Lato, sans-serif;;
  	text-align: center;
  	padding: 5em 1em;
}

#display h1 {
  	font-weight: 400;
  	font-size: 3.2em;
  	margin: 0;
 	color: #333333;
}

#display .bio {
	font-weight: 300;
 	font-size: 19.2;
  	margin: 15px 0px 20px;
  	color: #333333;
  	display: block;
  	box-sizing: border-box;
}



/*
dark blue: #172D4D
light blue: #8490A3;
black/gray normal words: #333333;
darker background gray?: #DEE2E6;
gray (background): #E8ECF0;
gold accent: #A28351
;
*/