<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

body {
	background: #3E4649;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.navbar{

}

.navbar-custom {
	background-color: #EEB868;
}

.nav-link { 
	color: white;
	margin-right: 1em !important;
}

.nav-link:hover { 
	background: white; 
	color: #EEB868; 

}

.navbar-collapse { 
	justify-content: flex-end;
}

/* HOW TO GET HAMBURGER LINES? */

.navbar-toggler {  
	background: white;
	opacity: .25;
}

.jumbotron {
	background: #3498DB;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #3498DB;
	background-color: white;
	border-color: white;
}

.about {
	margin: 4em 0;
	padding: 1em;
	position: relative;
}

.about h1{
	color:#EEB868;
	margin: 2em;
}

.about img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}

.about span{
	display: block;
	color: #456990;
	position: absolute;
	left: 115px;
}

.about .desc{
	padding: 2em;
	border-left:4px 
	solid #3498DB;
}

.about .desc p{
	line-height:2;
	color: #456990;
}




/*
blue: #3498DB;
orange: #EEB868;
red: #EF767A6;
navy: #456990;
green: #49DCB1;
https://coolors.co/49dcb1-3498db-eeb868-456990-ef767a
*/