a {
	color: Deepskyblue;
	text-decoration: none;
}

a:hover {
	color: LightPink;
}

body {
	font-family: "Lucida Console", Monaco, monospace
}

div {
	margin: 30px;
	display: inline-block;
}

h1, h2 {
	color: Deepskyblue;
}

img {
	float: left;
	margin-right: 30px;
	max-height:50%;
	max-width:50%;

}

nav {
	margin-left: 30px;
	color: Deepskyblue;
}

.bottom {
	margin: 0px 20px 0px 0px;
}

.projects {
	margin: 75px auto 75px auto;
}
