a {
	color: Deepskyblue;
	text-decoration: none;
}

a:hover {
	color: LightPink;
}

body {
	font-family: "Lucida Console", Monaco, monospace
}

div {
	margin: 30px;
	display: inline-block;
}

h2 {
	color: Deepskyblue;
}

h1 {
	color: LightPink;
}

iframe {
	max-height:100%;
	max-width:100%;
}

img {
	float: left;
	margin-right: 30px;
	max-height:50%;
	max-width:50%;

}

nav {
	margin-left: 30px;
	color: Deepskyblue;
}

table {
	float: left;
	margin-right: 30px
}

td {
	padding: 0px;
}

.doubleMedia {
	max-height: 100%;
	max-width: 75%;
	margin-right: 0px;
}	

.bottom {
	margin: 0px 20px 0px 0px;
}

.projects {
	margin: 75px auto 75px auto;
}
